body {
    text-align: center;
    background: #64DD17;

}

h1 {
    color: #EC407A;
}

#my-button {
    background-color: pink;
    padding: 10px;
    font-size: 25px;
}

img {
    border: 3px solid #76FF03;
    padding: 1px;
    border-radius: 10px;
}

label {
    font-size: 20px;
    color: #4527A0;
    font-weight: bold;
}