body {
    text-align: center;
    background: #64DD17;

}

h1 {
    color: #512DA8;
}

.w3-btn {
    background-color: pink;
/*    cool Aqua color: #0ff;*/
    padding: 10px;
    font-size: 25px;
}

.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}

img {
    border: 3px solid #76FF03;
    padding: 1px;
    border-radius: 10px;
}

img:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/
    box-shadow: 4px 1px 39px 6px rgba(213,0,249,1);
}

label {
    font-size: 20px;
    color: #AA00FF;
    font-weight: bold;
}

/* Size of my images: */
.my-elem {
   width: 70%;
}

h2 {
   top: 200px;
   left: 20;
   width: 65%;
   color: #FF3D00;
   font-size: 2em;
   padding-left: 18%;
}

/* Flexbox for 2 columns: (from https://davidwalsh.name/demo/flexbox-column.php) */

.flexbox-container {
    padding: 20px;
    background: #eee;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    width: 50%;
    min-height: 200px;
    background: #fff;
    padding: 10px;
}

.flexbox-container > div:first-child {
    margin-right: 20px;
}